In [2]:
import pandas as pd

# Load all sheets into a dictionary
shot_ratings_file = pd.read_excel("../../data/mens/Rudy Quan/combined.xlsx", sheet_name=None, engine="openpyxl")

In [5]:
display(shot_ratings_file)

{'Settings':                                            Start Time  End Time  Location  \
 0                                            05:45:11  08:03:20       NaN
 1                                                 NaN       NaN       NaN
 2                Note: xyz coordinates are in meters.       NaN       NaN
 3            X is positive to the right of the camera       NaN       NaN
 4   Y is positive towards the opposite side of the...       NaN       NaN
 5                   Z is positive up out of the court       NaN       NaN
 6                                            22:48:10  00:02:45       NaN
 7                                                 NaN       NaN       NaN
 8                Note: xyz coordinates are in meters.       NaN       NaN
 9            X is positive to the right of the camera       NaN       NaN
 10  Y is positive towards the opposite side of the...       NaN       NaN
 11                  Z is positive up out of the court       NaN       NaN
 12                                           21:13:05  22:19:56       NaN
 13                                                NaN       NaN       NaN
 14               Note: xyz coordinates are in meters.       NaN       NaN
 15           X is positive to the right of the camera       NaN       NaN
 16  Y is positive towards the opposite side of the...       NaN       NaN
 17                  Z is positive up out of the court       NaN       NaN
 18                                           22:48:10  00:02:45       NaN
 19                                                NaN       NaN       NaN
 20               Note: xyz coordinates are in meters.       NaN       NaN
 21           X is positive to the right of the camera       NaN       NaN
 22  Y is positive towards the opposite side of the...       NaN       NaN
 23                  Z is positive up out of the court       NaN       NaN
 24                                           02:06:59  03:05:36       NaN
 25                                                NaN       NaN       NaN
 26               Note: xyz coordinates are in meters.       NaN       NaN
 27           X is positive to the right of the camera       NaN       NaN
 28  Y is positive towards the opposite side of the...       NaN       NaN
 29                  Z is positive up out of the court       NaN       NaN
 30                                           21:41:41  23:29:33       NaN
 31                                                NaN       NaN       NaN
 32               Note: xyz coordinates are in meters.       NaN       NaN
 33           X is positive to the right of the camera       NaN       NaN
 34  Y is positive towards the opposite side of the...       NaN       NaN
 35                  Z is positive up out of the court       NaN       NaN
 36                                           21:00:52  22:25:44       NaN
 37                                                NaN       NaN       NaN
 38               Note: xyz coordinates are in meters.       NaN       NaN
 39           X is positive to the right of the camera       NaN       NaN
 40  Y is positive towards the opposite side of the...       NaN       NaN
 41                  Z is positive up out of the court       NaN       NaN
 42                                           17:31:50  19:02:04       NaN
 43                                                NaN       NaN       NaN
 44               Note: xyz coordinates are in meters.       NaN       NaN
 45           X is positive to the right of the camera       NaN       NaN
 46  Y is positive towards the opposite side of the...       NaN       NaN
 47                  Z is positive up out of the court       NaN       NaN
 48                                           01:19:47  02:45:49       NaN
 49                                                NaN       NaN       NaN
 50               Note: xyz coordinates are in meters.       NaN       NaN
 51           X is positive to the right of the camera       NaN       NaN
 52  Y is positive towards the opposite side of the...       NaN       NaN
 53                  Z is positive up out of the court       NaN       NaN
 54                                           21:58:23  23:17:50       NaN
 55                                                NaN       NaN       NaN
 56               Note: xyz coordinates are in meters.       NaN       NaN
 57           X is positive to the right of the camera       NaN       NaN
 58  Y is positive towards the opposite side of the...       NaN       NaN
 59                  Z is positive up out of the court       NaN       NaN

     Host Team          Guest Team  Points  Games  Sets  Games per Set  \
 0   Rudy Quan  Carl Emil Overbeck     0.0    1.0   3.0            6.0
 1         NaN                 NaN     NaN    NaN   NaN            NaN
 2         NaN                 NaN     NaN    NaN   NaN            NaN
 3         NaN                 NaN     NaN    NaN   NaN            NaN
 4         NaN                 NaN     NaN    NaN   NaN            NaN
 5         NaN                 NaN     NaN    NaN   NaN            NaN
 6   Rudy Quan       Deacon Thomas    99.0   18.0   2.0            6.0
 7         NaN                 NaN     NaN    NaN   NaN            NaN
 8         NaN                 NaN     NaN    NaN   NaN            NaN
 9         NaN                 NaN     NaN    NaN   NaN            NaN
 10        NaN                 NaN     NaN    NaN   NaN            NaN
 11        NaN                 NaN     NaN    NaN   NaN            NaN
 12  Rudy Quan       Youcef Rihane    97.0   18.0   2.0            6.0
 13        NaN                 NaN     NaN    NaN   NaN            NaN
 14        NaN                 NaN     NaN    NaN   NaN            NaN
 15        NaN                 NaN     NaN    NaN   NaN            NaN
 16        NaN                 NaN     NaN    NaN   NaN            NaN
 17        NaN                 NaN     NaN    NaN   NaN            NaN
 18  Rudy Quan       Deacon Thomas    99.0   18.0   2.0            6.0
 19        NaN                 NaN     NaN    NaN   NaN            NaN
 20        NaN                 NaN     NaN    NaN   NaN            NaN
 21        NaN                 NaN     NaN    NaN   NaN            NaN
 22        NaN                 NaN     NaN    NaN   NaN            NaN
 23        NaN                 NaN     NaN    NaN   NaN            NaN
 24  Rudy Quan          Ozan Baris    73.0   15.0   2.0            6.0
 25        NaN                 NaN     NaN    NaN   NaN            NaN
 26        NaN                 NaN     NaN    NaN   NaN            NaN
 27        NaN                 NaN     NaN    NaN   NaN            NaN
 28        NaN                 NaN     NaN    NaN   NaN            NaN
 29        NaN                 NaN     NaN    NaN   NaN            NaN
 30  Rudy Quan       Edward Winter   143.0   24.0   3.0            6.0
 31        NaN                 NaN     NaN    NaN   NaN            NaN
 32        NaN                 NaN     NaN    NaN   NaN            NaN
 33        NaN                 NaN     NaN    NaN   NaN            NaN
 34        NaN                 NaN     NaN    NaN   NaN            NaN
 35        NaN                 NaN     NaN    NaN   NaN            NaN
 36  Rudy Quan   Aleksa Krivokapic     NaN    NaN   NaN            NaN
 37        NaN                 NaN     NaN    NaN   NaN            NaN
 38        NaN                 NaN     NaN    NaN   NaN            NaN
 39        NaN                 NaN     NaN    NaN   NaN            NaN
 40        NaN                 NaN     NaN    NaN   NaN            NaN
 41        NaN                 NaN     NaN    NaN   NaN            NaN
 42  Rudy Quan          JC Roddick     0.0    0.0   3.0            6.0
 43        NaN                 NaN     NaN    NaN   NaN            NaN
 44        NaN                 NaN     NaN    NaN   NaN            NaN
 45        NaN                 NaN     NaN    NaN   NaN            NaN
 46        NaN                 NaN     NaN    NaN   NaN            NaN
 47        NaN                 NaN     NaN    NaN   NaN            NaN
 48  Rudy Quan        Will Cooksey   103.0   18.0   2.0            6.0
 49        NaN                 NaN     NaN    NaN   NaN            NaN
 50        NaN                 NaN     NaN    NaN   NaN            NaN
 51        NaN                 NaN     NaN    NaN   NaN            NaN
 52        NaN                 NaN     NaN    NaN   NaN            NaN
 53        NaN                 NaN     NaN    NaN   NaN            NaN
 54  Rudy Quan          Peter Makk    93.0   17.0   2.0            6.0
 55        NaN                 NaN     NaN    NaN   NaN            NaN
 56        NaN                 NaN     NaN    NaN   NaN            NaN
 57        NaN                 NaN     NaN    NaN   NaN            NaN
 58        NaN                 NaN     NaN    NaN   NaN            NaN
 59        NaN                 NaN     NaN    NaN   NaN            NaN

     Sets per Match  Umpire  Ad Scoring  Match Tiebreak  \
 0              3.0     NaN         1.0             0.0
 1              NaN     NaN         NaN             NaN
 2              NaN     NaN         NaN             NaN
 3              NaN     NaN         NaN             NaN
 4              NaN     NaN         NaN             NaN
 5              NaN     NaN         NaN             NaN
 6              3.0     NaN         1.0             0.0
 7              NaN     NaN         NaN             NaN
 8              NaN     NaN         NaN             NaN
 9              NaN     NaN         NaN             NaN
 10             NaN     NaN         NaN             NaN
 11             NaN     NaN         NaN             NaN
 12             3.0     NaN         0.0             0.0
 13             NaN     NaN         NaN             NaN
 14             NaN     NaN         NaN             NaN
 15             NaN     NaN         NaN             NaN
 16             NaN     NaN         NaN             NaN
 17             NaN     NaN         NaN             NaN
 18             3.0     NaN         1.0             0.0
 19             NaN     NaN         NaN             NaN
 20             NaN     NaN         NaN             NaN
 21             NaN     NaN         NaN             NaN
 22             NaN     NaN         NaN             NaN
 23             NaN     NaN         NaN             NaN
 24             3.0     NaN         0.0             0.0
 25             NaN     NaN         NaN             NaN
 26             NaN     NaN         NaN             NaN
 27             NaN     NaN         NaN             NaN
 28             NaN     NaN         NaN             NaN
 29             NaN     NaN         NaN             NaN
 30             3.0     NaN         0.0             0.0
 31             NaN     NaN         NaN             NaN
 32             NaN     NaN         NaN             NaN
 33             NaN     NaN         NaN             NaN
 34             NaN     NaN         NaN             NaN
 35             NaN     NaN         NaN             NaN
 36             NaN     NaN         NaN             NaN
 37             NaN     NaN         NaN             NaN
 38             NaN     NaN         NaN             NaN
 39             NaN     NaN         NaN             NaN
 40             NaN     NaN         NaN             NaN
 41             NaN     NaN         NaN             NaN
 42             3.0     NaN         0.0             0.0
 43             NaN     NaN         NaN             NaN
 44             NaN     NaN         NaN             NaN
 45             NaN     NaN         NaN             NaN
 46             NaN     NaN         NaN             NaN
 47             NaN     NaN         NaN             NaN
 48             3.0     NaN         0.0             0.0
 49             NaN     NaN         NaN             NaN
 50             NaN     NaN         NaN             NaN
 51             NaN     NaN         NaN             NaN
 52             NaN     NaN         NaN             NaN
 53             NaN     NaN         NaN             NaN
 54             3.0     NaN         0.0             0.0
 55             NaN     NaN         NaN             NaN
 56             NaN     NaN         NaN             NaN
 57             NaN     NaN         NaN             NaN
 58             NaN     NaN         NaN             NaN
 59             NaN     NaN         NaN             NaN

                         __source_file__
 0             RudyQuan_Cal_1_25_25.xlsx
 1             RudyQuan_Cal_1_25_25.xlsx
 2             RudyQuan_Cal_1_25_25.xlsx
 3             RudyQuan_Cal_1_25_25.xlsx
 4             RudyQuan_Cal_1_25_25.xlsx
 5             RudyQuan_Cal_1_25_25.xlsx
 6    RudyQuan_DeaconThomas_Indiana.xlsx
 7    RudyQuan_DeaconThomas_Indiana.xlsx
 8    RudyQuan_DeaconThomas_Indiana.xlsx
 9    RudyQuan_DeaconThomas_Indiana.xlsx
 10   RudyQuan_DeaconThomas_Indiana.xlsx
 11   RudyQuan_DeaconThomas_Indiana.xlsx
 12   RudyQuan_FloridaState_9_23_24.xlsx
 13   RudyQuan_FloridaState_9_23_24.xlsx
 14   RudyQuan_FloridaState_9_23_24.xlsx
 15   RudyQuan_FloridaState_9_23_24.xlsx
 16   RudyQuan_FloridaState_9_23_24.xlsx
 17   RudyQuan_FloridaState_9_23_24.xlsx
 18         RudyQuan_Indiana_3_7_25.xlsx
 19         RudyQuan_Indiana_3_7_25.xlsx
 20         RudyQuan_Indiana_3_7_25.xlsx
 21         RudyQuan_Indiana_3_7_25.xlsx
 22         RudyQuan_Indiana_3_7_25.xlsx
 23         RudyQuan_Indiana_3_7_25.xlsx
 24  RudyQuan_MichiganState_4_13_25.xlsx
 25  RudyQuan_MichiganState_4_13_25.xlsx
 26  RudyQuan_MichiganState_4_13_25.xlsx
 27  RudyQuan_MichiganState_4_13_25.xlsx
 28  RudyQuan_MichiganState_4_13_25.xlsx
 29  RudyQuan_MichiganState_4_13_25.xlsx
 30     RudyQuan_Pepperdine_2_27_25.xlsx
 31     RudyQuan_Pepperdine_2_27_25.xlsx
 32     RudyQuan_Pepperdine_2_27_25.xlsx
 33     RudyQuan_Pepperdine_2_27_25.xlsx
 34     RudyQuan_Pepperdine_2_27_25.xlsx
 35     RudyQuan_Pepperdine_2_27_25.xlsx
 36          RudyQuan_Purdue_3_9_25.xlsx
 37          RudyQuan_Purdue_3_9_25.xlsx
 38          RudyQuan_Purdue_3_9_25.xlsx
 39          RudyQuan_Purdue_3_9_25.xlsx
 40          RudyQuan_Purdue_3_9_25.xlsx
 41          RudyQuan_Purdue_3_9_25.xlsx
 42           RudyQuan_TAMU_1_25_25.xlsx
 43           RudyQuan_TAMU_1_25_25.xlsx
 44           RudyQuan_TAMU_1_25_25.xlsx
 45           RudyQuan_TAMU_1_25_25.xlsx
 46           RudyQuan_TAMU_1_25_25.xlsx
 47           RudyQuan_TAMU_1_25_25.xlsx
 48      RudyQuan_UMichigan_4_25_25.xlsx
 49      RudyQuan_UMichigan_4_25_25.xlsx
 50      RudyQuan_UMichigan_4_25_25.xlsx
 51      RudyQuan_UMichigan_4_25_25.xlsx
 52      RudyQuan_UMichigan_4_25_25.xlsx
 53      RudyQuan_UMichigan_4_25_25.xlsx
 54            RudyQuan_USC_2_22_25.xlsx
 55            RudyQuan_USC_2_22_25.xlsx
 56            RudyQuan_USC_2_22_25.xlsx
 57            RudyQuan_USC_2_22_25.xlsx
 58            RudyQuan_USC_2_22_25.xlsx
 59            RudyQuan_USC_2_22_25.xlsx  ,
 'Shots':                   Player  Shot             Type    Stroke     Spin  \
 0     Carl Emil Overbeck     1            serve     Serve    Slice
 1     Carl Emil Overbeck     1            serve     Serve    Slice
 2              Rudy Quan     2           return  Backhand  Topspin
 3     Carl Emil Overbeck     3   serve_plus_one  Forehand  Topspin
 4     Carl Emil Overbeck     1            serve     Serve     Kick
 ...                  ...   ...              ...       ...      ...
 6696           Rudy Quan     1      first_serve     Serve     Flat
 6697          Peter Makk     2     first_return  Forehand  Topspin
 6698           Rudy Quan     3   serve_plus_one  Backhand  Topspin
 6699          Peter Makk     4  return_plus_one  Backhand     Flat
 6700           Rudy Quan     5          in_play  Backhand  Topspin

       Speed (MPH)  Point  Game  Set Bounce Depth  ... Hit Side   Hit (x)  \
 0       43.357174      1     0    0        short  ...     near -1.060547
 1       86.126060      2     0    0        short  ...     near -0.882324
 2       48.867477      2     0    0         deep  ...      far  3.687500
 3       73.100418      2     0    0          out  ...     near -0.642090
 4       30.364021      3     0    0        short  ...     near  0.648438
 ...           ...    ...   ...  ...          ...  ...      ...       ...
 6696   130.596954     93    17    2        short  ...      far -0.296631
 6697    48.430279     93    17    2         deep  ...     near -2.035156
 6698    51.606888     93    17    2         deep  ...      far  2.046875
 6699    50.380474     93    17    2         deep  ...     near -2.900391
 6700    79.019493     93    17    2         deep  ...      far  3.224609

         Hit (y)   Hit (z)      Direction Result Favorited  Start Time  \
 0      0.076316  2.337891       out wide    Net     False    05:45:18
 1      0.896628  2.166016       out wide     In     False    05:45:37
 2     24.927538  1.308594  down the line     In     False    05:45:38
 3     -1.564309  1.422852     inside out    Out     False    05:45:40
 4      0.113293  2.228516       out wide    Out     False    05:45:59
 ...         ...       ...            ...    ...       ...         ...
 6696  23.624725  1.958984     down the T     In     False    23:17:42
 6697  -0.439309  1.387695     inside out     In     False    23:17:43
 6698  24.333788  1.562500    cross court     In     False    23:17:45
 6699  -0.361184  1.190430    cross court     In     False    23:17:46
 6700  23.927538  1.722656    cross court     In     False    23:17:48

        Video Time            __source_file__
 0        7.330000  RudyQuan_Cal_1_25_25.xlsx
 1       26.590000  RudyQuan_Cal_1_25_25.xlsx
 2       27.480000  RudyQuan_Cal_1_25_25.xlsx
 3       29.090000  RudyQuan_Cal_1_25_25.xlsx
 4       48.389999  RudyQuan_Cal_1_25_25.xlsx
 ...           ...                        ...
 6696  4759.450195  RudyQuan_USC_2_22_25.xlsx
 6697  4760.229980  RudyQuan_USC_2_22_25.xlsx
 6698  4761.649902  RudyQuan_USC_2_22_25.xlsx
 6699  4763.069824  RudyQuan_USC_2_22_25.xlsx
 6700  4764.649902  RudyQuan_USC_2_22_25.xlsx

 [6701 rows x 26 columns],
 'Points':      Point  Game  Set Serve State Match Server Host Game Score  \
 0        1     1    1       first         host               0
 1        2     1    1       first         host              15
 2        3     1    1       first         host              30
 3        4     1    1       first         host              40
 4        5     1    1      second         host              40
 ..     ...   ...  ...         ...          ...             ...
 702     89    16    2       first        guest              40
 703     90    17    2       first         host               0
 704     91    17    2       first         host              15
 705     92    17    2       first         host              30
 706     93    17    2       first         host              40

      Guest Game Score Point Winner                   Detail  Break Point  \
 0                   0         host  Forehand Unforced Error        False
 1                   0         host  Backhand Unforced Error        False
 2                   0         host                      NaN        False
 3                   0        guest  Forehand Unforced Error        False
 4                  15        guest  Forehand Unforced Error        False
 ..                ...          ...                      ...          ...
 702                15         host           Service Winner         True
 703                 0         host  Backhand Unforced Error        False
 704                 0         host          Forehand Winner        False
 705                 0         host  Forehand Unforced Error        False
 706                 0         host          Backhand Winner        False

      Set Point  Favorited Start Time   Video Time  Duration  \
 0        False      False   22:48:27          NaN      4.88
 1        False      False   22:48:54          NaN      6.40
 2        False      False   22:49:16          NaN     15.39
 3        False      False   22:49:51          NaN      3.37

In [6]:
stats_df = shot_ratings_file['Stats']
games_df = shot_ratings_file['Games'] 
points_df = shot_ratings_file['Points']

In [8]:
stats_df

,Stat Name,Host Set 1,Guest Set 1,Host Set 2,Guest Set 2,Host Set 3,Guest Set 3,Host Set 4,Guest Set 4,Host Set 5,Guest Set 5,__source_file__
0,1st Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
1,1st Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
2,1st Serves Won,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
3,2nd Serves,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
4,2nd Serves In,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_Cal_1_25_25.xlsx
...,...,...,...,...,...,...,...,...,...,...,...,...
265,Forehand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_USC_2_22_25.xlsx
266,Backhand Forced Errors,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_USC_2_22_25.xlsx
267,Calories Burned (CAL),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_USC_2_22_25.xlsx
268,Distance Run (MI),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_USC_2_22_25.xlsx
269,Average Heart Rate (BPM),0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,RudyQuan_USC_2_22_25.xlsx

In [7]:
filtered_stats_df = stats_df[stats_df['Host Set 2'].notna()]

<span style="font-size:24px;">Functions </span>

In [42]:
def get_total(stat_name):
    rows = filtered_stats_df[filtered_stats_df['Stat Name'].str.strip() == stat_name]
    if rows.empty:
        return 0
    total = 0
    for col in rows.columns:
        if col.startswith('Host Set'):
            numeric_vals = pd.to_numeric(rows[col], errors='coerce')
            total += numeric_vals.sum()  # Ignores NaNs automatically
    return total


def calculate_service_games_won(games_df):
    # Filter the DataFrame for host server and non-draw game winner
    host_service_games = games_df[(games_df['Server'] == 'host') & (games_df['Game Winner'] != 'draw')]
    
    # Filter for games where host won
    host_service_games_won = host_service_games[host_service_games['Game Winner'] == 'host']
    
    # Calculate percentage
    if len(host_service_games) > 0:
        service_games_won_percentage = len(host_service_games_won) / len(host_service_games) 
        return service_games_won_percentage
    else:
        return None  # No games to calculate

def calculate_return_games_won(games_df):
    # Filter the DataFrame for guest server and non-draw game winner
    guest_service_games = games_df[(games_df['Server'] == 'guest') & (games_df['Game Winner'] != 'draw')]
    
    # Filter for games where host won (since return games won means host wins)
    guest_return_games_won = guest_service_games[guest_service_games['Game Winner'] == 'host']
    
    # Calculate percentage
    if len(guest_service_games) > 0:
        return_games_won_percentage = len(guest_return_games_won) / len(guest_service_games) 
        return return_games_won_percentage
    else:
        return None  # No games to calculate

def calculate_transition_points(points_df, games_df):
    # Identify the transitions from non-1 to 1 in the 'Set' column
    transitions = (points_df['Set'] != 1) & (points_df['Set'].shift(-1) == 1)

    # Check if we should add the last row as a transition
    last_point_winner = points_df.iloc[-1]['Point Winner']
    last_game_winner = games_df.iloc[-1]['Game Winner']

    # If they match, manually set the last point as a transition
    if last_point_winner == last_game_winner:
        transitions.iloc[-1] = True  # force last row as a transition

    # Filter rows where Point Winner is 'host' and it's a transition
    transition_points = points_df[(points_df['Point Winner'] == 'host') & transitions]

    # Numerator: host transitions
    host_transition_points_count = transition_points.shape[0]

    # Denominator: all transitions
    transition_count = transitions.sum()

    return (host_transition_points_count / transition_count) if transition_count > 0 else None

def calculate_tiebreaks_won_percent(games_df):
    # Find all rows where both players have 6 games in the set â€” a tiebreak situation
    tiebreaks = games_df[(games_df['Host Set Score'] == 6) & (games_df['Guest Set Score'] == 6)]
    
    # Total number of tiebreaks
    total_tiebreaks = tiebreaks.shape[0]
    
    if total_tiebreaks == 0:
        return None  # Avoid division by zero if there are no tiebreaks

    # Count how many tiebreaks were won by the host
    host_tiebreaks_won = (tiebreaks['Game Winner'] == 'host').sum()

    # Compute percentage
    return (host_tiebreaks_won / total_tiebreaks)

<span style="font-size:24px;">Serve Rating </span> <br>
<span style="font-size:20px;">1st Serve %, 1st Serve Points Won %, 2nd Serve Points Won %, Service Games Won %, Avg. Aces/Match, Avg. Double Faults/Match </span>

In [38]:
serve_results = {}

# 1st Serve %
serve_results['1st Serve %'] = get_total('1st Serves In') / get_total('1st Serves') if get_total('1st Serves') else None

# 1st Serve Points Won %
serve_results['1st Serve Points Won %'] = get_total('1st Serves Won') / get_total('1st Serves In') if get_total('1st Serves In') else None

# 2nd Serve Points Won %
serve_results['2nd Serve Points Won %'] = get_total('2nd Serves Won') / get_total('2nd Serves In') if get_total('2nd Serves In') else None

# Service Games Won %
serve_results['Service Games Won %'] = calculate_service_games_won(games_df)

# Avg. Aces/Match
aces_total = get_total('Aces')
aces_count = (filtered_stats_df['Stat Name'].str.strip() == 'Aces').sum()
serve_results['Avg. Aces/Match'] = float(aces_total) / aces_count if aces_count else None

# Count total double faults from points_df
double_fault_total = points_df[
    (points_df['Match Server'] == 'host') & 
    (points_df['Detail'] == 'Double Fault')
].shape[0]
# Count matches by number of '1st Serves' entries in filtered_stats_df
match_count = (filtered_stats_df['Stat Name'].str.strip() == '1st Serves').sum()
# Compute average
serve_results['Avg. Double Faults/Match'] = double_fault_total / match_count if match_count else None

# Calculate Serve Rating
serve_rating = 0

# Add percentages (convert decimals to percentage scale)
if serve_results['1st Serve %'] is not None:
    serve_rating += serve_results['1st Serve %'] * 100
if serve_results['1st Serve Points Won %'] is not None:
    serve_rating += serve_results['1st Serve Points Won %'] * 100
if serve_results['2nd Serve Points Won %'] is not None:
    serve_rating += serve_results['2nd Serve Points Won %'] * 100
if serve_results['Service Games Won %'] is not None:
    serve_rating += serve_results['Service Games Won %'] * 100

# Add Aces and subtract Double Faults
if serve_results['Avg. Aces/Match'] is not None:
    serve_rating += serve_results['Avg. Aces/Match']
if serve_results['Avg. Double Faults/Match'] is not None:
    serve_rating -= serve_results['Avg. Double Faults/Match']

# Print out the serve results in the desired format
for k, v in serve_results.items():
    if v is not None:
        # For Avg. Aces/Match and Avg. Double Faults/Match, format as regular float
        if k in ['Avg. Aces/Match', 'Avg. Double Faults/Match']:
            print(f"{k}: {v:.2f}")
        # Otherwise, format as percentage
        else:
            print(f"{k}: {v:.2%}")
    else:
        print(f"{k}: N/A")

# Print Serve Rating
print(f"Serve Rating: {serve_rating:.2f}")

1st Serve %: 72.22%
1st Serve Points Won %: 66.15%
2nd Serve Points Won %: 58.82%
Service Games Won %: 72.31%
Avg. Aces/Match: 0.43
Avg. Double Faults/Match: 2.14
Serve Rating: 267.79

<span style="font-size:24px;">Return Rating </span> <br>
<span style="font-size:20px;"> 1st Serve Return Points Won %, 2nd Serve Return Points Won %, Return Games Won %, Break Points Converted % </span>

In [39]:
return_results = {}


# 1st Serve Return Points Won %
return_results['1st Serve Return Points Won %'] = get_total('1st Returns Won') / get_total('1st Returns') if get_total('1st Returns') else None

# 2nd Serve Return Points Won %
return_results['2nd Serve Return Points Won %'] = get_total('2nd Returns Won') / get_total('2nd Returns') if get_total('2nd Returns') else None

# Return Games Won %
return_results['Return Games Won %'] = calculate_return_games_won(games_df)

# % Break Points Converted
return_results['Break Points Converted %'] = get_total('Break Points Won') / get_total('Break Point Opportunities') if get_total('Break Point Opportunities') else None

# Calculate Return Rating
return_rating = 0

# Add percentage stats (scale from decimal to 0â€“100)
if return_results['1st Serve Return Points Won %'] is not None:
    return_rating += return_results['1st Serve Return Points Won %'] * 100
if return_results['2nd Serve Return Points Won %'] is not None:
    return_rating += return_results['2nd Serve Return Points Won %'] * 100
if return_results['Break Points Converted %'] is not None:
    return_rating += return_results['Break Points Converted %'] * 100
if return_results['Return Games Won %'] is not None:
    return_rating += return_results['Return Games Won %'] * 100

# Print out the serve results in the desired format
for k, v in return_results.items():
    if v is not None:
        # For Avg. Aces/Match and Avg. Double Faults/Match, format as regular float
        if k in ['Avg. Aces/Match', 'Avg. Double Faults/Match']:
            print(f"{k}: {v:.2f}")
        # Otherwise, format as percentage
        else:
            print(f"{k}: {v:.2%}")
    else:
        print(f"{k}: N/A")

# Print Return Rating
print(f"Return Rating: {return_rating:.2f}")

1st Serve Return Points Won %: 40.58%
2nd Serve Return Points Won %: 64.75%
Return Games Won %: 52.38%
Break Points Converted %: 60.38%
Return Rating: 218.09

<span style="font-size:24px;">Under Pressure Rating </span> <br>
<span style="font-size:20px;"> Break Points Converted %, Break Points Saved %, Tie Breaks Won %, Deciding Sets Won % </span>

In [46]:
pressure_results = {}


# Break Points Converted %
pressure_results['Break Points Converted %'] = get_total('Break Points Won') / get_total('Break Point Opportunities') if get_total('Break Point Opportunities') else None

# Break Points Saved %
pressure_results['Break Points Saved %'] = get_total('Break Points Saved') / get_total('Break Points') if get_total('Break Points') else None

# Tie Breaks Won %
pressure_results['Tie Breaks Won %'] = calculate_tiebreaks_won_percent(games_df) 

# Deciding Sets Won %
pressure_results['Deciding Sets Won %'] = calculate_transition_points(points_df, games_df)

# Calculate Return Rating
pressure_rating = 0

# Add percentage stats (scale from decimal to 0â€“100)
if pressure_results['Break Points Converted %'] is not None:
    pressure_rating += pressure_results['Break Points Converted %'] * 100
if pressure_results['Break Points Saved %'] is not None:
    pressure_rating += pressure_results['Break Points Saved %'] * 100
if pressure_results['Tie Breaks Won %'] is not None:
    pressure_rating += pressure_results['Tie Breaks Won %'] * 100
if pressure_results['Deciding Sets Won %'] is not None:
    pressure_rating += pressure_results['Deciding Sets Won %'] * 100

# Print out the serve results in the desired format
for k, v in pressure_results.items():
    if v is not None:
        # For Avg. Aces/Match and Avg. Double Faults/Match, format as regular float
        if k in ['Avg. Aces/Match', 'Avg. Double Faults/Match']:
            print(f"{k}: {v:.2f}")
        # Otherwise, format as percentage
        else:
            print(f"{k}: {v:.2%}")
    else:
        print(f"{k}: N/A")

# Print Pressure Rating
print(f"Pressure Rating: {pressure_rating:.2f}")

Break Points Converted %: 60.38%
Break Points Saved %: 56.10%
Tie Breaks Won %: N/A
Deciding Sets Won %: 85.71%
Pressure Rating: 202.19