# Summary Statistics Notebook

### Load Packages

In [1]:
import pandas as pd
import os

os.getcwd() # Print current working directory

'/Users/cjgimena/Desktop/Github/consulting-spring2025/season_report/summary_page'

In [2]:
os.chdir('../..') # go back two directories
os.getcwd()

'/Users/cjgimena/Desktop/Github/consulting-spring2025'

### Read Data

In [19]:
combined_data_shots = pd.read_excel('data/mens/Rudy Quan/combined.xlsx', sheet_name='Shots')
combined_data_sets = pd.read_excel('data/mens/Rudy Quan/combined.xlsx', sheet_name='Sets')

mens_results = pd.read_csv('data/mens/mens_results.csv')

### Longest Rally Function

In [15]:
def longest_rally(data):

    # Error Check
    if "Shot" not in data.columns:
        raise ValueError("The column 'Shot' was not found in the 'Shots' sheet.")
    
    # Find the index of the max shot value
    max_rally_length = data["Shot"].max()  

    # Return the value of the max shot
    return max_rally_length

In [17]:
longest_rally_length = longest_rally(combined_data_shots)
longest_rally_length

32

### Average Time On Court

In [ ]:
def average_court_time(data):
    
    if 'Duration' not in df.columns:
        raise ValueError("The column 'Duration' was not found in the 'Sets' sheet.")
    
    data['Duration'] = pd.to_numeric(data['Duration'], errors='coerce')
    

    return value

In [ ]:
combined_data_sets.groupby('__source_file__')[['Duration']].sum()

# Take the mean of the duration column

# Convert to Hour:Minutes format (0:00)

# output value as string

                                          Duration
__source_file__
RudyQuan_Cal_1_25_25.xlsx            254570.653126
RudyQuan_DeaconThomas_Indiana.xlsx     4458.089844
RudyQuan_FloridaState_9_23_24.xlsx     3997.400024
RudyQuan_Indiana_3_7_25.xlsx           4458.089844
RudyQuan_MichiganState_4_13_25.xlsx    3434.000000
RudyQuan_Pepperdine_2_27_25.xlsx       6454.719970
RudyQuan_TAMU_1_25_25.xlsx            10989.980117
RudyQuan_UMichigan_4_25_25.xlsx        5159.780029
RudyQuan_USC_2_22_25.xlsx              4758.250000

### Output Csv