# Summary Statistics Notebook

### Load Packages

In [23]:
import pandas as pd
import re

In [2]:
os.chdir('../..') # go back two directories
os.getcwd()

'/Users/cjgimena/Desktop/Github/consulting-spring2025'

### Read Data

In [3]:
# USER INPUT: Specify Player!
player_name = 'Rudy Quan'
# player_name = 'Kaylan Bigun'
# # player_name = 'Emon Van Loben Sels'
# player_name = 'Alexander Hoogmartens'
# player_name = 'Spencer Johnson'
# player_name = 'Aadarsh Tripathi'
# player_name = 'Giacomo Revelli'
# player_name = 'Gianluca Ballotta'

In [4]:
combined_data_shots = pd.read_excel(f'data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_sets = pd.read_excel(f'data/mens/{player_name}/combined.xlsx', sheet_name='Sets')

In [5]:
# Subset 2024-2025 Season Matches!
mens_results = pd.read_csv('data/mens/mens_results.csv')[:229]

# Change Date Format
mens_results['Date'] = pd.to_datetime(mens_results['Date'])


def filter_player(data, player_name):

    # Filter for player_name
    data = data[(data['Player1'] == player_name) | (data['Player2'] == player_name)]

    # Filter for only school events
    data = data[data['Event Name'].str.startswith(('Dual Match', '2024 ITA', '2024-25 NCAA Division'))]
    return data

mens_results_player = filter_player(mens_results, player_name)

In [6]:
mens_results_player

,Event Name,Date,Player1,Player2,Player1 UTR,Player2 UTR,Score
5,"Dual Match: University of California, Los Ange...",2025-05-15,Timo Legout,Rudy Quan,14.23,13.59,"7-5, 6-2"
6,Dual Match: University of Southern California ...,2025-05-08,Rudy Quan,Makk Peter,13.59,13.79,"7-6(4), 3-6, 3-3"
14,"Dual Match: University of California, Los Ange...",2025-05-02,Carl Overbeck,Rudy Quan,13.48,13.59,"5-7, 7-5, 6-3"
18,"Dual Match: University of California, Santa Ba...",2025-05-01,Rudy Quan,Gianluca Brunkow,13.59,13.00,"5-7, 6-2, 0-1"
27,"Dual Match: University of California, Los Ange...",2025-04-26,Aidan Kim,Rudy Quan,13.74,13.59,"7-6(3), 6-2"
33,Dual Match: Michigan State University vs Unive...,2025-04-25,Rudy Quan,Aristotelis Thanos,13.59,13.67,"4-6, 3-1"
36,Dual Match: University of Michigan vs Universi...,2025-04-24,Rudy Quan,William Cooksey,13.59,12.00,"6-3, 5-6"
46,"Dual Match: University of California, Los Ange...",2025-04-19,Rudy Quan,Calvin MUELLER,13.59,13.00,"3-6, 6-3, 6-1"
52,"Dual Match: University of California, Los Ange...",2025-04-17,Michael Minasyan,Rudy Quan,12.00,13.59,"2-6, 6-3"
55,Dual Match: Michigan State University vs Unive...,2025-04-12,Rudy Quan,Ozan Baris,13.59,13.66,"6-1, 6-2"
60,"Dual Match: University of California, Los Ange...",2025-04-10,Rudy Quan,William Cooksey,13.59,12.00,"6-3, 6-3"
69,"Dual Match: University of California, Los Ange...",2025-04-05,Rudy Quan,Charl Morgan,13.59,12.00,"6-3, 6-3"
70,Dual Match: Ohio State University vs Universit...,2025-04-03,Alexander Bernard,Rudy Quan,13.31,13.59,"7-6(5), 0-6"
75,"Dual Match: University of California, Los Ange...",2025-04-03,Alexander Bernard,Rudy Quan,13.31,13.59,"7-6(5), 0-6, 3-1"
78,"Dual Match: University of California, Los Ange...",2025-03-31,Makk Peter,Rudy Quan,13.79,13.59,"6-4, 6-4"
85,Dual Match: University of Washington vs Univer...,2025-03-29,Rudy Quan,Cesar BOUCHELAGHEM,13.59,13.51,"6-4, 4-4"
94,Dual Match: University of Oregon vs University...,2025-03-28,Rudy Quan,Lenn Luemkemann,13.59,12.00,"6-3, 5-3"
100,"Dual Match: University of California, Los Ange...",2025-03-22,Saiprakash Goli,Rudy Quan,12.00,13.59,"7-5, 3-3"
107,"Dual Match: University of California, Los Ange...",2025-03-20,Kenta Miyoshi,Rudy Quan,13.97,13.59,"7-6(5), 5-1"
112,Dual Match: Purdue University vs University of...,2025-03-08,Rudy Quan,Aleksa KRIVOKAPIC,13.59,12.00,"4-6, 6-3, 1-0(3)"
118,Dual Match: Indiana University vs University o...,2025-03-06,Rudy Quan,Deacon Thomas,13.59,12.00,"6-2, 6-4"
129,Dual Match: University of Southern California ...,2025-02-21,Rudy Quan,Makk Peter,13.59,13.79,"6-2, 6-3"
130,Dual Match: Pepperdine University vs Universit...,2025-02-15,Edward Winter,Rudy Quan,13.52,13.59,"4-6, 6-0, 6-2"
142,"Dual Match: University of California, Berkeley...",2025-01-31,Carl Overbeck,Rudy Quan,13.48,13.59,"6-7(7), 6-3, 6-4"
150,Dual Match: University of Georgia vs Universit...,2025-01-25,Rudy Quan,Ryan Colby,13.59,13.30,"6-2, 6-3"
161,"Dual Match: University of California, Los Ange...",2025-01-24,Jerry Roddick,Rudy Quan,13.00,13.59,"6-3, 2-6, 6-3"
167,Dual Match: University of San Diego vs Univers...,2025-01-19,Rudy Quan,Iiro Vasa,13.59,12.90,"6-3, 7-6(5)"
173,"Dual Match: University of California, Los Ange...",2025-01-16,Rudy Quan,Andy Nguyen,13.59,13.18,"6-4, 6-3"

### Longest Rally Function

In [7]:
def longest_rally(data):

    # Error Check
    if "Shot" not in data.columns:
        raise ValueError("The column 'Shot' was not found in the 'Shots' sheet.")
    
    # Find the index of the max shot value
    max_rally_length = data["Shot"].max()  

    # Return the value of the max shot
    return max_rally_length

In [8]:
longest_rally_length = longest_rally(combined_data_shots)
longest_rally_length

119

### Average Time On Court

In [9]:
def average_court_time(data):
    
    if 'Duration' not in data.columns:
        raise ValueError("The column 'Duration' was not found in the 'Sets' sheet.")
    
    if '__source_file__' not in data.columns:
        raise ValueError("The column '__source_file__' was not found in the 'Sets' sheet.")
    
    # Make sure the column values are Numeric | errors argument sets not numerics to NA
    data['Duration'] = pd.to_numeric(data['Duration'], errors='coerce')

    # Create Boolean Mask to filter out NA values
    data = data[data['Duration'].notna()]

    # Group by 'Duration' and sum values then convert to minutes
    match_durations = (
                        data.groupby('__source_file__')['Duration']
                        .sum()
                        .div(60)
                        .round(1)
                        )
    
    # Compute overall average in minutes
    avg_minutes = match_durations.mean()
    if pd.notna(avg_minutes):
        hours = int(avg_minutes) // 60
        mins = int(avg_minutes) % 60            

    duration = f"{hours}:{mins:02d}"
    
    return duration

In [10]:
average_time_on_court = average_court_time(combined_data_sets)
average_time_on_court

'14:01'

### Tiebreak Wins

In [11]:
def analyze_tiebreak_data(data, player_name):

    # Subset data to only include matches with tiebreaker sets
    tiebreak_data = data[data['Score'].str.contains(r'6-7\(|7-6\(|1-0|0-1', na=False)].reset_index(drop=True)

    # Function to use in apply function
    def tiebreaker_win_loss(score, player1, player2, player_name):
        if player1 == player_name:
            win = score.count("7-6(") + score.count('1-0')
            loss = score.count("6-7(") + score.count('0-1')
        elif player2 == player_name:
            win = score.count("6-7(") + score.count('0-1')
            loss = score.count("7-6(") + score.count('1-0')
        else:
            pass
        return win, loss

    # Use the apply function to create tiebreake win/loss count columsn
    tiebreak_data[['win', 'loss']] = tiebreak_data.apply(lambda x:tiebreaker_win_loss(x['Score'], 
                                                                                      x['Player1'], 
                                                                                      x['Player2'], 
                                                                                      player_name), axis=1).apply(pd.Series)
    
    # Assign tiebreaker sets wins and losses to respective variables
    total_wins = tiebreak_data['win'].sum()
    total_losses = tiebreak_data['loss'].sum()


    return total_wins, total_losses

In [12]:
# Output tiebreaker wins
tiebreaker_wins = analyze_tiebreak_data(mens_results_player, player_name)[0]
tiebreaker_losses = analyze_tiebreak_data(mens_results_player, player_name)[1]

tiebreaker_wins, tiebreaker_losses

(4, 5)

### Average Winners

In [13]:
def get_average_winners(data):

    # Find the number of matches
    num_matches = len(data['__source_file__'].value_counts())

    # Subset the data for all the points that our player hits
    host_wins = data[data['Point Winner'] == 'host']
    
    # Find the counts of Total Winners overall (Forehand + Backhand)
    total_winners = host_wins['Detail'].value_counts()['Forehand Winner'] + host_wins['Detail'].value_counts()['Backhand Winner']

    # Return value
    return total_winners // num_matches

In [14]:
# Output Average Winners
average_winners = get_average_winners(combined_data_points)
average_winners

12

### Sets Won

##### Helper Functions

In [15]:
def count_sets_won(sets, player_name, player1, player2):
    sets_won = 0
    for set_score in sets:
        if "-" not in set_score:
            continue

        try:
            # Check for 10-point tiebreaker format (e.g., "1-0(3)" or "0-1(7)")
            if "(" in set_score:
                tie_split = set_score.split("(")[0]  # Get the part before "("
                player1_score = int(tie_split.split("-")[0].strip())
                player2_score = int(tie_split.split("-")[1].strip())
                
                # A valid 10-point tiebreaker should have a 1-0 or 0-1 structure
                if (player1_score == 1 and player2_score == 0) or (player1_score == 0 and player2_score == 1):
                    if player1 == player_name and player1_score == 1:
                        sets_won += 1
                    elif player2 == player_name and player2_score == 1:
                        sets_won += 1
                    continue
            
            # Standard set format (e.g., "6-4", "7-6")
            player1_score = int(set_score.split("-")[0].split("(")[0].strip())
            player2_score = int(set_score.split("-")[1].split("(")[0].strip())
        except ValueError:
            continue

        # Check for valid set completion
        if ((player1_score >= 6 or player2_score >= 6) and abs(player1_score - player2_score) >= 2) or \
           ((player1_score == 7 and player2_score == 6) or (player1_score == 6 and player2_score == 7)):
            if player1 == player_name and player1_score > player2_score:
                sets_won += 1
            elif player2 == player_name and player2_score > player1_score:
                sets_won += 1

    return sets_won

##### Sets Won Function

In [16]:
def get_sets_won(df, player_name):

    # Apply the function to the 'Score' column
    df.loc[:, 'Sets'] = df['Score'].str.split(", ")

    # Apply the function to the DataFrame
    df.loc[:, 'sets_won'] = df.apply(lambda row: count_sets_won(row['Sets'], player_name, row['Player1'], row['Player2']), axis=1).copy()
    
    return df['sets_won'].sum()

In [17]:
# Output Sets Won
sets_won = get_sets_won(mens_results_player, player_name)
sets_won

32

### Three Set Matches Won

##### Helper Function

In [ ]:
# Helper function to create column third_set_wins

def find_threeSet_matchWins(sets, player_name, player1):
    # Set wins
    wins = 0

    # Filter only 3-set games
    if len(sets) == 3:
        
        UCLA_wins = 0
        for i, set_score in enumerate(sets):
            # Skip if the set score is not in the correct format
            if "-" not in set_score:
                continue

            try:
                # Handle 10-point tiebreaker format (e.g., "1-0(3)" or "0-1(7)")
                if "(" in set_score:
                    tie_split = set_score.split("(")[0]  # Get the part before "("
                    player1_score = int(tie_split.split("-")[0].strip())
                    player2_score = int(tie_split.split("-")[1].strip())

                    # Check if it is a valid 10-point tiebreaker set
                    if (player1_score == 1 and player2_score == 0) or (player1_score == 0 and player2_score == 1):
                        if player1 == player_name and player1_score == 1:
                            UCLA_wins += 1
                        elif player1 != player_name and player2_score == 1:
                            UCLA_wins += 1
                        continue

                # Standard set format (e.g., "6-4", "7-6")
                player1_score = int(set_score.split("-")[0].split("(")[0].strip())
                player2_score = int(set_score.split("-")[1].split("(")[0].strip())
            except ValueError:
                # Skip invalid scores or unfinished sets
                continue

            # Check for unfinished third set (does not meet valid set criteria)
            if i == 2:  # Checking the third set specifically
                if not ((player1_score >= 6 or player2_score >= 6) and abs(player1_score - player2_score) >= 2) and \
                   not ((player1_score == 7 and player2_score == 6) or (player1_score == 6 and player2_score == 7)):
                    continue  # Unfinished set, skip

            # Check valid set completion for standard sets
            if ((player1_score >= 6 or player2_score >= 6) and abs(player1_score - player2_score) >= 2) or \
               ((player1_score == 7 and player2_score == 6) or (player1_score == 6 and player2_score == 7)):
                if player1 == player_name and player1_score > player2_score:
                    UCLA_wins += 1
                elif player1 != player_name and player2_score > player1_score:
                    UCLA_wins += 1

        # Check if UCLA won at least 2 sets
        if UCLA_wins >= 2:
            wins += 1

    return wins

In [21]:
df = mens_results_player

df.loc[:, 'sets'] = df['Score'].str.split(", ")
df.loc[:, 'third_set_wins'] = df.apply(lambda row: find_threeSet_matchWins(row['sets'], player_name, row['Player1']), 
                                        axis=1
                                        )

df

,Event Name,Date,Player1,Player2,Player1 UTR,Player2 UTR,Score,Sets,sets_won,sets,third_set_wins
5,"Dual Match: University of California, Los Ange...",2025-05-15,Timo Legout,Rudy Quan,14.23,13.59,"7-5, 6-2","[7-5, 6-2]",0,"[7-5, 6-2]",0
6,Dual Match: University of Southern California ...,2025-05-08,Rudy Quan,Makk Peter,13.59,13.79,"7-6(4), 3-6, 3-3","[7-6(4), 3-6, 3-3]",1,"[7-6(4), 3-6, 3-3]",0
14,"Dual Match: University of California, Los Ange...",2025-05-02,Carl Overbeck,Rudy Quan,13.48,13.59,"5-7, 7-5, 6-3","[5-7, 7-5, 6-3]",1,"[5-7, 7-5, 6-3]",0
18,"Dual Match: University of California, Santa Ba...",2025-05-01,Rudy Quan,Gianluca Brunkow,13.59,13.00,"5-7, 6-2, 0-1","[5-7, 6-2, 0-1]",1,"[5-7, 6-2, 0-1]",0
27,"Dual Match: University of California, Los Ange...",2025-04-26,Aidan Kim,Rudy Quan,13.74,13.59,"7-6(3), 6-2","[7-6(3), 6-2]",0,"[7-6(3), 6-2]",0
33,Dual Match: Michigan State University vs Unive...,2025-04-25,Rudy Quan,Aristotelis Thanos,13.59,13.67,"4-6, 3-1","[4-6, 3-1]",0,"[4-6, 3-1]",0
36,Dual Match: University of Michigan vs Universi...,2025-04-24,Rudy Quan,William Cooksey,13.59,12.00,"6-3, 5-6","[6-3, 5-6]",1,"[6-3, 5-6]",0
46,"Dual Match: University of California, Los Ange...",2025-04-19,Rudy Quan,Calvin MUELLER,13.59,13.00,"3-6, 6-3, 6-1","[3-6, 6-3, 6-1]",2,"[3-6, 6-3, 6-1]",1
52,"Dual Match: University of California, Los Ange...",2025-04-17,Michael Minasyan,Rudy Quan,12.00,13.59,"2-6, 6-3","[2-6, 6-3]",1,"[2-6, 6-3]",0
55,Dual Match: Michigan State University vs Unive...,2025-04-12,Rudy Quan,Ozan Baris,13.59,13.66,"6-1, 6-2","[6-1, 6-2]",2,"[6-1, 6-2]",0
60,"Dual Match: University of California, Los Ange...",2025-04-10,Rudy Quan,William Cooksey,13.59,12.00,"6-3, 6-3","[6-3, 6-3]",2,"[6-3, 6-3]",0
69,"Dual Match: University of California, Los Ange...",2025-04-05,Rudy Quan,Charl Morgan,13.59,12.00,"6-3, 6-3","[6-3, 6-3]",2,"[6-3, 6-3]",0
70,Dual Match: Ohio State University vs Universit...,2025-04-03,Alexander Bernard,Rudy Quan,13.31,13.59,"7-6(5), 0-6","[7-6(5), 0-6]",1,"[7-6(5), 0-6]",0
75,"Dual Match: University of California, Los Ange...",2025-04-03,Alexander Bernard,Rudy Quan,13.31,13.59,"7-6(5), 0-6, 3-1","[7-6(5), 0-6, 3-1]",1,"[7-6(5), 0-6, 3-1]",0
78,"Dual Match: University of California, Los Ange...",2025-03-31,Makk Peter,Rudy Quan,13.79,13.59,"6-4, 6-4","[6-4, 6-4]",0,"[6-4, 6-4]",0
85,Dual Match: University of Washington vs Univer...,2025-03-29,Rudy Quan,Cesar BOUCHELAGHEM,13.59,13.51,"6-4, 4-4","[6-4, 4-4]",1,"[6-4, 4-4]",0
94,Dual Match: University of Oregon vs University...,2025-03-28,Rudy Quan,Lenn Luemkemann,13.59,12.00,"6-3, 5-3","[6-3, 5-3]",1,"[6-3, 5-3]",0
100,"Dual Match: University of California, Los Ange...",2025-03-22,Saiprakash Goli,Rudy Quan,12.00,13.59,"7-5, 3-3","[7-5, 3-3]",0,"[7-5, 3-3]",0
107,"Dual Match: University of California, Los Ange...",2025-03-20,Kenta Miyoshi,Rudy Quan,13.97,13.59,"7-6(5), 5-1","[7-6(5), 5-1]",0,"[7-6(5), 5-1]",0
112,Dual Match: Purdue University vs University of...,2025-03-08,Rudy Quan,Aleksa KRIVOKAPIC,13.59,12.00,"4-6, 6-3, 1-0(3)","[4-6, 6-3, 1-0(3)]",2,"[4-6, 6-3, 1-0(3)]",1
118,Dual Match: Indiana University vs University o...,2025-03-06,Rudy Quan,Deacon Thomas,13.59,12.00,"6-2, 6-4","[6-2, 6-4]",2,"[6-2, 6-4]",0
129,Dual Match: University of Southern California ...,2025-02-21,Rudy Quan,Makk Peter,13.59,13.79,"6-2, 6-3","[6-2, 6-3]",2,"[6-2, 6-3]",0
130,Dual Match: Pepperdine University vs Universit...,2025-02-15,Edward Winter,Rudy Quan,13.52,13.59,"4-6, 6-0, 6-2","[4-6, 6-0, 6-2]",1,"[4-6, 6-0, 6-2]",0
142,"Dual Match: University of California, Berkeley...",2025-01-31,Carl Overbeck,Rudy Quan,13.48,13.59,"6-7(7), 6-3, 6-4","[6-7(7), 6-3, 6-4]",1,"[6-7(7), 6-3, 6-4]",0
150,Dual Match: University of Georgia vs Universit...,2025-01-25,Rudy Quan,Ryan Colby,13.59,13.30,"6-2, 6-3","[6-2, 6-3]",2,"[6-2, 6-3]",0
161,"Dual Match: University of California, Los Ange...",2025-01-24,Jerry Roddick,Rudy Quan,13.00,13.59,"6-3, 2-6, 6-3","[6-3, 2-6, 6-3]",1,"[6-3, 2-6, 6-3]",0
167,Dual Match: University of San Diego vs Univers...,2025-01-19,Rudy Quan,Iiro Vasa,13.59,12.90,"6-3, 7-6(5)","[6-3, 7-6(5)]",2,"[6-3, 7-6(5)]",0
173,"Dual Match: University of California, Los Ange...",2025-01-16,Rudy Quan,Andy Nguyen,13.59,13.18,"6-4, 6-3","[6-4, 6-3]",2,"[6-4, 6-3]",0

In [19]:
def count_threeSet_wins(df, player_name):

    # Split the score column into sets
    df.loc[:, 'sets'] = df['Score'].str.split(", ")

    # Apply the function to calculate three-set match wins
    df.loc[:, 'third_set_wins'] = df.apply(lambda row: find_threeSet_matchWins(row['sets'], player_name, row['Player1']), 
                                            axis=1
                                            )
    
    return df['third_set_wins'].sum()

In [20]:
# Output 3 Set Wins
threeSet_wins = count_threeSet_wins(mens_results_player, player_name)
threeSet_wins

2

### Overall Record and Singles Record

##### Helper Functions

In [ ]:
def count_sets_won(score_str):
    if not isinstance(score_str, str):
        return 0, 0
    
    p1_sets = p2_sets = 0

    sets = [s.strip() for s in score_str.split(',') if s.strip()]  # Clean and split sets
    
    for i, s in enumerate(sets):
        parts = s.split('-')
        
        # Check for valid score format
        if len(parts) < 2:
            continue

        try:
            # Extract the player scores, ignoring tiebreaker details
            p1 = int(parts[0].split('(')[0].strip())
            p2 = int(parts[1].split('(')[0].strip())
        except ValueError:
            continue

        # Check for 10-point tiebreaker format (e.g., "1-0(7)" or "0-1(3)")
        if len(sets) == 3 and i == 2 and "(" in s:
            if (p1 == 1 and p2 == 0) or (p1 == 0 and p2 == 1):
                if p1 == 1:
                    p1_sets += 1
                else:
                    p2_sets += 1
            continue

        # Check for standard set completion
        valid_standard_set = ((p1 >= 6 or p2 >= 6) and abs(p1 - p2) >= 2) or \
                             ((p1 == 7 and p2 == 6) or (p1 == 6 and p2 == 7))

        # If the set is unfinished, skip counting
        if not valid_standard_set:
            continue
        
        # Count the set win for the respective player
        if p1 > p2:
            p1_sets += 1
        else:
            p2_sets += 1
            
    return p1_sets, p2_sets


def get_winner(row):
    
    p1_sets, p2_sets = count_sets_won(row['Score'])

    # Output Winner of match or 'Unfinisihed'
    if p1_sets == 2:
        return row['Player1']
    elif p2_sets == 2:
        return row['Player2']
    else:
        return 'Unfinished'

In [22]:
# Set Conference Start and End Dates
conf_start = pd.Timestamp('2025-03-06')
conf_end = pd.Timestamp('2025-04-20')

In [ ]:
def player_records(data, conf_start, conf_end):

    # Create Columns to count how many sets each player has won
    data[['player1_sets', 'player2_sets']] = data['Score'].apply(count_sets_won).apply(pd.Series)

    # Create 'result' Column with player1, player2, or Unfinished
    data['result'] = data.apply(get_winner, axis=1)

    player_conf_matches = data[(data['Date'] >= conf_start) & 
                                (data['Date'] <= conf_end
                                    )]

    # Calculate Overall Wins/Losses
    overall_wins = (data['result'] == player_name).sum()
    overall_losses = ((data['result'] != player_name) & 
                    (data['result'] != 'Unfinished')).sum()

    # Calculate Overall Wins/Losses (Conference)
    conf_wins = (player_conf_matches['result'] == player_name).sum()
    conf_losses = ((player_conf_matches['result'] != player_name) & 
                (player_conf_matches['result'] != 'Unfinished')).sum()

    # Put in string
    overall_record = f"{overall_wins}-{overall_losses}"
    conference_record = f"{conf_wins}-{conf_losses}"

    return overall_record, conference_record

In [31]:
# Output Records
overall_record, conference_record = player_records(mens_results_player, conf_start, conf_end)
overall_record, conference_record

('13-6', '6-1')

### Overall Rating

##### Total Matches

In [ ]:
total_matches = len(combined_data_settings.groupby('__source_file__'))
total_matches

12

##### Helper Functions

In [ ]:
# Helper Function: Grabs total of Specified Stat
def get_total(df, stat_name):
    rows = df[df['Stat Name'] == stat_name]
    if rows.empty: # UPDATE Throw an error?
        return 0
    total = 0
    for col in rows.columns:
        if col.startswith('Host Set'):
            numeric_vals = pd.to_numeric(rows[col], errors='coerce')
            total += numeric_vals.sum()  # Ignores NaNs automatically # UPDATE: throw an error? because this means that the data is bad?
    return total
    # return rows

In [ ]:
# Helper Function: Calculate Service Games Won Percentage

def calculate_service_games_won(df):
    # Filter the DataFrame for host server and non-draw game winner
    host_service_games = df[(df['Server'] == 'host') & (df['Game Winner'] != 'draw')]
    
    # Filter for games where host won
    host_service_games_won = host_service_games[host_service_games['Game Winner'] == 'host']
    
    service_games_won_percentage = len(host_service_games_won) / len(host_service_games) 
    
    return service_games_won_percentage

In [ ]:
# Helper Function: Calculate Double Faults

def calculate_double_faults(df):
    double_fault_total = df[(df['Match Server'] == 'host') & 
                                   (df['Detail'] == 'Double Fault')].shape[0]
    return double_fault_total

In [ ]:
# Helper Function: Caluclate Return Games Won 

def calculate_return_games_won(df):
    # Filter the DataFrame for guest server and non-draw game winner
    guest_service_games = df[(df['Server'] == 'guest') & (df['Game Winner'] != 'draw')]
    
    # Filter for games where host won (since return games won means host wins)
    guest_return_games_won = guest_service_games[guest_service_games['Game Winner'] == 'host']

    return_games_won_percentage = len(guest_return_games_won) / len(guest_service_games) 
    
    return return_games_won_percentage

### Serve Rating

In [ ]:
# 1st Serve In Percentage
first_serve_in_percentage = ((get_total(combined_data_stats, '1st Serves In') / get_total(combined_data_stats, '1st Serves')) * 100).round(2)

# 1st Serve Points Won Percentage
first_serve_won_percentage = ((get_total(combined_data_stats, '1st Serves Won') / get_total(combined_data_stats, '1st Serves In')) * 100).round(2)

# 2nd Serve Points Won Percentage
second_serve_won_percentage = ((get_total(combined_data_stats, '2nd Serves Won') / get_total(combined_data_stats, '2nd Serves In')) * 100).round(2)

# Service Games Won Percentage
service_games_won_percentage = round(calculate_service_games_won(combined_data_games) * 100, 2)

# Average Aces per Match Percentagae
aces_average = ((get_total(combined_data_stats, 'Aces') / total_matches)).round(2)

# Average Double Faults per Match Percentage
doubleFaults_average = round(calculate_double_faults(combined_data_points) / total_matches, 2)

In [ ]:
serve_rating = round(first_serve_in_percentage + first_serve_won_percentage + second_serve_won_percentage + service_games_won - doubleFaults_average, 1)
serve_rating

261.9

### Return Rating

In [ ]:
# 1st Serve Return Points Won Percentage
first_serve_returns_won = ((get_total(combined_data_stats, '1st Returns Won') / get_total(combined_data_stats, '1st Returns')) * 100).round(2)

# 2nd Serve Return Points Won Percentage
second_serve_returns_won = ((get_total(combined_data_stats, '2nd Returns Won') / get_total(combined_data_stats, '2nd Returns')) * 100).round(2)

# Return Games Won Percentage
return_games_won_percentage = round(calculate_return_games_won(games_df) * 100, 2)

# % Break Points Converted Percentage
break_points_converted_percentage = ((get_total(combined_data_stats, 'Break Points Won') / get_total(combined_data_stats, 'Break Point Opportunities')) * 100).round(2)

In [ ]:
return_rating = round(first_serve_returns_won + second_serve_returns_won + return_games_won_percentage + break_points_converted_percentage, 1)
return_rating

218.4

### Under Pressure Rating

In [ ]:
# % Break Points Converted Percentage
break_points_converted_percentage = ((get_total(combined_data_stats, 'Break Points Won') / get_total(combined_data_stats, 'Break Point Opportunities')) * 100).round(2)

# Break Points Saved Percentage
break_points_saved_percentage = ((get_total(combined_data_stats, 'Break Points Saved') / get_total(combined_data_stats, 'Break Points')) * 100).round(2)

# Tie Breaks Won %
tiebreaks_won_percentage = tiebreaker_wins / (tiebreaker_wins + tiebreaker_losses)

# Deciding Sets Won %
# deciding_sets_won_percentage =

In [ ]:
# under_pressure_rating = round(break_points_converted_percentage + break_points_saved_percentage + tiebreaks_won_percentage + )

### Output Csv

In [33]:
# Current Statistics

longest_rally_length
average_time_on_court
tiebreaker_wins, tiebreaker_losses
average_winners
sets_won
threeSet_wins
overall_record, conference_record

('13-6', '6-1')