In [22]:
import pandas as pd
import re

In [23]:
url = "https://raw.githubusercontent.com/cjgimena/consulting-spring2025/refs/heads/main/data/mens/mens_results.csv"
df = pd.read_csv(url)
df.head()

,Event Name,Date,Player1,Player1 UTR,Player2,Player2 UTR,Score
0,"Dual Match: University of California, Los Ange...",2025-04-26,Emon Van Loben Sels,13.59,Alexander Bernard,13.33,"7-6(5), 5-7, 6-3"
1,"Dual Match: University of California, Los Ange...",2025-04-26,Alexander Hoogmartens,13.00,Jack Anthrop,13.66,"7-5, 0-6, 6-4"
2,"Dual Match: University of California, Los Ange...",2025-04-26,Aidan Kim,13.75,Rudy Quan,13.67,"7-6(3), 6-2"
3,"Dual Match: University of California, Los Ange...",2025-04-26,Preston Stearns,13.08,Aadarsh Tripathi,12.94,"6-3, 2-6, 6-2"
4,"Dual Match: University of California, Los Ange...",2025-04-26,Kaylan Bigun,13.17,William Jansen,13.24,"6-2, 7-5"

In [34]:
def count_threeSet_wins(df):
    count = 0
    for s in df['Score'].dropna():
        #ignor NaN values
        if not isinstance(s, str):
            continue
        #convert string scores to number scores
        sets = re.findall(r'(\d)+(-\d)+', s)
        
        if len(sets) != 3:
            continue

        ucla_set_wins = 0
        ucla_set_wins = sum(int(u) > int(o) for u, o in sets)
        #count ucla wins
        if ucla_set_wins >= 2:
            count += 1

    return count

n = count_threeSet_wins(df)
print(f"Number of matches with three set wins: {n}")

Number of matches with three set wins: 1041