## Week 5: Jupyter Notebook - Pandas GroupBy, Apply, and Create Your Own Functions
Make sure to select your Kernel before starting!

### Import Pandas Library/Package
`import pandas as pd`

In [ ]:
import pandas as pd

### Optional: Displaying your Dataframe
Don't use for big datasets

In [ ]:
pd.set_option("display.max_columns", None)  # Show all columns
pd.set_option("display.max_rows", None)     # Show all rows

### Spliting Strings!
`.split()`

In [ ]:
# Create a string
string = "Hi my name is Cj"

# Set the delimeter/seperator


# Use the .split() function

In [ ]:
# Assign output to variable


# Grab the "Cj" from the list (using indexing)

In [ ]:
# Assign Value to variable

In [ ]:
# Grab the the "6" from the first set score

#### Using this in a DataFrame (with our data)

In [ ]:
# Read in the (playsight)kaylan_usc.xlsx, Shots sheet
os.chdir("..")  # Move up one directory
df = pd.read_excel('data/practice/(playsight)kaylan_usc.xlsx', sheet_name='Shots')
df.head()

#### Pandas split Function
`.str.split()`

### What is in what?
`in`

In [ ]:
name

In [ ]:
string2 = "Cj is so cool, I like Cj"

# Use the in operator to ouput a boolean to check string2

In [ ]:
# Also use with if statements

item = "banana"
if item in ["apple", "banana", "cherry"]: # using if statement
    print("Found!")

#### Using this in a DataFrame (with our data)

In [ ]:
df.head()

In [ ]:
'serve' in df['Type']

In [ ]:
'serve' in df['Type'][0] # we must iterate through the whole dataframe if we want to find all the cells in with serve
                         # how do we do it without iterating through the whole datagrame

`.isin()`

In [ ]:
# Check all the unique values in the "Type" column

### Joining/Merging DataFrames
`.merge()`

In [ ]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 
                    'Name': ['Alice', 'Bob', 'Charlie']})

df2 = pd.DataFrame({'ID': [2, 3, 4, 5], 
                    'Age': [30, 25, 40, 15]})
display(df1)
display(df2)

In [ ]:
# Merge the two dataframes on the ID column


# Same as specifying the how argument to 'inner'

In [ ]:
# how = 'outer'

In [ ]:
# merge by how = 'left'
pd.merge(df1, df2, on='ID', how='left')

In [ ]:
# merge by how = 'right'
pd.merge(df1, df2, on='ID', how='right')

#### Using this in a DataFrame (with our data)

In [ ]:
shots = pd.read_excel('data/practice/(playsight)kaylan_usc.xlsx', sheet_name='Shots')
points = pd.read_excel('data/practice/(playsight)kaylan_usc.xlsx', sheet_name='Points')
games = pd.read_excel('data/practice/(playsight)kaylan_usc.xlsx', sheet_name='Games')
sets = pd.read_excel('data/practice/(playsight)kaylan_usc.xlsx', sheet_name='Sets')

In [ ]:
# create sample_shots to grab the first 3 points

In [ ]:
# create sample_points to grab the first 3 points

#### What if I wanted to add scores to my shots sheet?

In [ ]:
def create_point_score(server, host_score, guest_score):
    # create a function
    
# sample_points['Point Score'] = sample_points.apply()

In [ ]:
sample_points

In [ ]:
sample_points_subset = sample_points[['Point', 'Game', 'Set', 'Point Winner', 'Detail', 'Break Point', 'Set Point', 'Point Score']].copy()
sample_points_subset

In [ ]:
sample_shots.merge(sample_points_subset, on = ['Point']) # notice how we have a "Game_y" and "Set_y" column

In [ ]:
# How to fix? Specify all the keys in your "on" argument

# print dataset

# now my dataset has the additonal columns after the "Video Time" column

In [ ]:
# compare to original sample_shots dataset

sample_shots

### Using this on the whole Dataset

In [ ]:
def create_point_score(server, host_score, guest_score):
    if server == 'host':
        return f"{host_score}-{guest_score}"
    else:
        return f"{guest_score}-{host_score}"
    
points['Point Score'] = points.apply(lambda x: 
                                                   create_point_score(x['Match Server'], x['Host Game Score'], x['Guest Game Score']),
                                                   axis=1)

In [ ]:
points.head(20)

In [ ]:
points_subset = points[['Point', 'Game', 'Set', 'Point Winner', 'Detail', 'Break Point', 'Set Point', 'Point Score']].copy()

In [ ]:
shots.merge(points_subset, on = ['Point', 'Game', 'Set']) # notice how we have a "Game_y" and "Set_y" column