In [7]:
import pandas as pd
import re

Read Data

In [8]:
player_name = 'Rudy Quan'

In [9]:
combined_data_shots = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_games = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Games')
combined_data_sets = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Sets')

In [10]:
combined_data_points.head()

,Point,Game,Set,Serve State,Match Server,Host Game Score,Guest Game Score,Point Winner,Detail,Break Point,Set Point,Favorited,Start Time,Video Time,Duration,__source_file__
0,1,1,1,first,host,0,0,host,Forehand Unforced Error,False,False,False,22:48:27,NaN,4.88,RudyQuan_DeaconThomas_Indiana.xlsx
1,2,1,1,first,host,15,0,host,Backhand Unforced Error,False,False,False,22:48:54,NaN,6.40,RudyQuan_DeaconThomas_Indiana.xlsx
2,3,1,1,first,host,30,0,host,NaN,False,False,False,22:49:16,NaN,15.39,RudyQuan_DeaconThomas_Indiana.xlsx
3,4,1,1,first,host,40,0,guest,Forehand Unforced Error,False,False,False,22:49:51,NaN,3.37,RudyQuan_DeaconThomas_Indiana.xlsx
4,5,1,1,second,host,40,15,guest,Forehand Unforced Error,False,False,False,22:50:16,NaN,14.34,RudyQuan_DeaconThomas_Indiana.xlsx

In [11]:
combined_data_points[['__source_file__','Set','Game','Point','Point Winner']]

                        __source_file__  Set  Game  Point Point Winner
0    RudyQuan_DeaconThomas_Indiana.xlsx    1     1      1         host
1    RudyQuan_DeaconThomas_Indiana.xlsx    1     1      2         host
2    RudyQuan_DeaconThomas_Indiana.xlsx    1     1      3         host
3    RudyQuan_DeaconThomas_Indiana.xlsx    1     1      4        guest
4    RudyQuan_DeaconThomas_Indiana.xlsx    1     1      5        guest
..                                  ...  ...   ...    ...          ...
702           RudyQuan_USC_2_22_25.xlsx    2    16     89         host
703           RudyQuan_USC_2_22_25.xlsx    2    17     90         host
704           RudyQuan_USC_2_22_25.xlsx    2    17     91         host
705           RudyQuan_USC_2_22_25.xlsx    2    17     92         host
706           RudyQuan_USC_2_22_25.xlsx    2    17     93         host

[707 rows x 5 columns]

In [12]:
combined = combined_data_shots.merge(combined_data_points[['__source_file__','Set','Game','Point','Point Winner']],
    on=['__source_file__','Set','Game','Point'],
    how='left'
)

combined

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,__source_file__,Point Winner
0,Carl Emil Overbeck,1,serve,Serve,Slice,43.357174,1,0,0,short,deuce,near,1.990234,6.755105,deep,ad,near,-1.060547,0.076316,2.337891,out wide,Net,False,05:45:18,7.330000,RudyQuan_Cal_1_25_25.xlsx,NaN
1,Carl Emil Overbeck,1,serve,Serve,Slice,86.126060,2,0,0,short,ad,far,2.672959,16.868187,deep,ad,near,-0.882324,0.896628,2.166016,out wide,In,False,05:45:37,26.590000,RudyQuan_Cal_1_25_25.xlsx,NaN
2,Rudy Quan,2,return,Backhand,Topspin,48.867477,2,0,0,deep,deuce,near,0.205523,3.551066,deep,ad,far,3.687500,24.927538,1.308594,down the line,In,False,05:45:38,27.480000,RudyQuan_Cal_1_25_25.xlsx,NaN
3,Carl Emil Overbeck,3,serve_plus_one,Forehand,Topspin,73.100418,2,0,0,out,ad,far,3.361406,27.931152,out,ad,near,-0.642090,-1.564309,1.422852,inside out,Out,False,05:45:40,29.090000,RudyQuan_Cal_1_25_25.xlsx,NaN
4,Carl Emil Overbeck,1,serve,Serve,Kick,30.364021,3,0,0,short,deuce_out,far,-6.153104,16.696115,deep,deuce,near,0.648438,0.113293,2.228516,out wide,Out,False,05:45:59,48.389999,RudyQuan_Cal_1_25_25.xlsx,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6696,Rudy Quan,1,first_serve,Serve,Flat,130.596954,93,17,2,short,ad,near,-1.659206,8.233006,deep,ad,far,-0.296631,23.624725,1.958984,down the T,In,False,23:17:42,4759.450195,RudyQuan_USC_2_22_25.xlsx,host
6697,Peter Makk,2,first_return,Forehand,Topspin,48.430279,93,17,2,deep,ad,far,1.918945,19.906250,deep,ad,near,-2.035156,-0.439309,1.387695,inside out,In,False,23:17:43,4760.229980,RudyQuan_USC_2_22_25.xlsx,host
6698,Rudy Quan,3,serve_plus_one,Backhand,Topspin,51.606888,93,17,2,deep,ad,near,-2.155388,5.475663,deep,ad,far,2.046875,24.333788,1.562500,cross court,In,False,23:17:45,4761.649902,RudyQuan_USC_2_22_25.xlsx,host
6699,Peter Makk,4,return_plus_one,Backhand,Flat,50.380474,93,17,2,deep,ad,far,2.955109,20.419083,deep,ad,near,-2.900391,-0.361184,1.190430,cross court,In,False,23:17:46,4763.069824,RudyQuan_USC_2_22_25.xlsx,host
6700,Rudy Quan,5,in_play,Backhand,Topspin,79.019493,93,17,2,deep,ad,near,-3.187472,3.249334,deep,ad,far,3.224609,23.927538,1.722656,cross court,In,False,23:17:48,4764.649902,RudyQuan_USC_2_22_25.xlsx,host

In [ ]:
# Subset 2024-2025 Season Matches!
mens_results = pd.read_csv('data/mens/mens_results.csv')[:229]

# Change Date Format
mens_results['Date'] = pd.to_datetime(mens_results['Date'])


def filter_player(data, player_name):

    # Filter for player_name
    data = data[(data['Player1'] == player_name) | (data['Player2'] == player_name)]

    # Filter for only school events
    data = data[data['Event Name'].str.startswith(('Dual Match', '2024 ITA', '2024-25 NCAA Division'))]
    return data

mens_results_player = filter_player(mens_results, player_name)

In [ ]:
mens_results_player

In [ ]:
def return_in(data):
    rudy_returns = combined_data_shots[(combined_data_shots['Player'] == player_name) & (combined_data_shots['Type'] == 'return')]
    rudy_returns_in = rudy_returns['Result'] == "In"
    percent = (rudy_returns['Result'] == "In").mean() * 100
    return round(percent, 2)

return_in('data/mens/{player_name}/combined.xlsx')

In [ ]:
##def return_won(data):

return_rudy = combined[(combined['Type'] == 'return') & (combined['Player'] == player_name)]
return_rudy_won = return_rudy[return_rudy['Point Winner'] == player_name]
return_rudy.head()

### Cj Work

In [2]:
import pandas as pd
import re

player_name = 'Rudy Quan'

combined_data_shots = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_games = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Games')
combined_data_sets = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Sets')

# Display all columns and rows
pd.set_option('display.max_columns', None)
pd.reset_option('display.max_rows')

In [14]:
combined_data_shots.head()

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,__source_file__
0,Carl Emil Overbeck,1,serve,Serve,Slice,43.357174,1,0,0,short,deuce,near,1.990234,6.755105,deep,ad,near,-1.060547,0.076316,2.337891,out wide,Net,False,05:45:18,7.330000,RudyQuan_Cal_1_25_25.xlsx
1,Carl Emil Overbeck,1,serve,Serve,Slice,86.126060,2,0,0,short,ad,far,2.672959,16.868187,deep,ad,near,-0.882324,0.896628,2.166016,out wide,In,False,05:45:37,26.590000,RudyQuan_Cal_1_25_25.xlsx
2,Rudy Quan,2,return,Backhand,Topspin,48.867477,2,0,0,deep,deuce,near,0.205523,3.551066,deep,ad,far,3.687500,24.927538,1.308594,down the line,In,False,05:45:38,27.480000,RudyQuan_Cal_1_25_25.xlsx
3,Carl Emil Overbeck,3,serve_plus_one,Forehand,Topspin,73.100418,2,0,0,out,ad,far,3.361406,27.931152,out,ad,near,-0.642090,-1.564309,1.422852,inside out,Out,False,05:45:40,29.090000,RudyQuan_Cal_1_25_25.xlsx
4,Carl Emil Overbeck,1,serve,Serve,Kick,30.364021,3,0,0,short,deuce_out,far,-6.153104,16.696115,deep,deuce,near,0.648438,0.113293,2.228516,out wide,Out,False,05:45:59,48.389999,RudyQuan_Cal_1_25_25.xlsx

In [17]:
combined_data_shots.merge(combined_data_points[['Point', 'Game', 'Set', 'Point Winner', '__source_file__']], 
                          how = 'left', 
                          on = ['Set', 'Game', 'Point', '__source_file__']).head()

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,Bounce Zone,Bounce Side,Bounce (x),Bounce (y),Hit Depth,Hit Zone,Hit Side,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,__source_file__,Point Winner
0,Carl Emil Overbeck,1,serve,Serve,Slice,43.357174,1,0,0,short,deuce,near,1.990234,6.755105,deep,ad,near,-1.060547,0.076316,2.337891,out wide,Net,False,05:45:18,7.330000,RudyQuan_Cal_1_25_25.xlsx,NaN
1,Carl Emil Overbeck,1,serve,Serve,Slice,86.126060,2,0,0,short,ad,far,2.672959,16.868187,deep,ad,near,-0.882324,0.896628,2.166016,out wide,In,False,05:45:37,26.590000,RudyQuan_Cal_1_25_25.xlsx,NaN
2,Rudy Quan,2,return,Backhand,Topspin,48.867477,2,0,0,deep,deuce,near,0.205523,3.551066,deep,ad,far,3.687500,24.927538,1.308594,down the line,In,False,05:45:38,27.480000,RudyQuan_Cal_1_25_25.xlsx,NaN
3,Carl Emil Overbeck,3,serve_plus_one,Forehand,Topspin,73.100418,2,0,0,out,ad,far,3.361406,27.931152,out,ad,near,-0.642090,-1.564309,1.422852,inside out,Out,False,05:45:40,29.090000,RudyQuan_Cal_1_25_25.xlsx,NaN
4,Carl Emil Overbeck,1,serve,Serve,Kick,30.364021,3,0,0,short,deuce_out,far,-6.153104,16.696115,deep,deuce,near,0.648438,0.113293,2.228516,out wide,Out,False,05:45:59,48.389999,RudyQuan_Cal_1_25_25.xlsx,NaN