# Total Returns Won (Won/Opportunities)

In [2]:
# imports
import pandas as pd
import numpy as np
import os

In [3]:
player_name = 'Rudy Quan' 
combined_data_shots = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Shots')
combined_data_points = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Points')
combined_data_games = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Games')
combined_data_sets = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Sets')
combined_data_settings = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Settings')
combined_data_stats = pd.read_excel(f'../../data/mens/{player_name}/combined.xlsx', sheet_name='Stats')

In [4]:
# combined_data_settings.head()
settings = combined_data_settings.dropna(subset=['Host Team'])
settings.head()

,Start Time,End Time,Location,Host Team,Guest Team,Points,Games,Sets,Games per Set,Sets per Match,Umpire,Ad Scoring,Match Tiebreak,__source_file__
0,05:45:11,08:03:20,NaN,Rudy Quan,Carl Emil Overbeck,0.0,1.0,3.0,6.0,3.0,NaN,1.0,0.0,RudyQuan_Cal_1_25_25.xlsx
6,21:13:05,22:19:56,NaN,Rudy Quan,Youcef Rihane,97.0,18.0,2.0,6.0,3.0,NaN,0.0,0.0,RudyQuan_FloridaState_9_23_24.xlsx
12,22:48:10,00:02:45,NaN,Rudy Quan,Deacon Thomas,99.0,18.0,2.0,6.0,3.0,NaN,1.0,0.0,RudyQuan_Indiana_3_7_25.xlsx
18,02:06:59,03:05:36,NaN,Rudy Quan,Ozan Baris,73.0,15.0,2.0,6.0,3.0,NaN,0.0,0.0,RudyQuan_MichiganState_4_13_25.xlsx
24,22:55:25,01:42:31,NaN,Rudy Quan,Lenn Luemkemann,0.0,0.0,2.0,6.0,3.0,NaN,1.0,0.0,RudyQuan_Oregon_3_29_25.xlsx

In [5]:
combined_data_shots['Type'].value_counts()

Type
in_play            2892
none               1368
first_serve        1091
serve_plus_one     1005
return_plus_one     836
first_return        692
serve               392
second_serve        349
second_return       327
return              297
return_serve          2
Name: count, dtype: int64

In [6]:
combined_data_points.head()

,Point,Game,Set,Serve State,Match Server,Host Game Score,Guest Game Score,Point Winner,Detail,Break Point,Set Point,Favorited,Start Time,Video Time,Duration,__source_file__
0,1,1,1,first,host,0,0,guest,Forehand Unforced Error,False,False,False,21:13:19,14.080000,18.799999,RudyQuan_FloridaState_9_23_24.xlsx
1,2,1,1,first,host,0,15,guest,Backhand Winner,False,False,False,21:14:03,58.040001,7.330000,RudyQuan_FloridaState_9_23_24.xlsx
2,3,1,1,first,host,0,30,guest,Backhand Unforced Error,False,False,False,21:14:31,86.330002,6.030000,RudyQuan_FloridaState_9_23_24.xlsx
3,4,1,1,first,host,0,40,host,Backhand Unforced Error,True,False,False,21:15:00,115.970001,4.180000,RudyQuan_FloridaState_9_23_24.xlsx
4,5,1,1,first,host,15,40,guest,Backhand Winner,True,False,False,21:15:25,140.889999,4.910000,RudyQuan_FloridaState_9_23_24.xlsx

In [7]:
settings = combined_data_settings.dropna(subset=['Host Team'])

returns = combined_data_shots[combined_data_shots['Type'].str.contains('return')]
returns = returns[returns['Player'] == player_name]

returns = returns.merge(settings[['__source_file__', 'Host Team']],how = 'inner', on = '__source_file__' )
returns

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,...,Hit (x),Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,__source_file__,Host Team
0,Rudy Quan,2,return,Backhand,Topspin,48.867477,2,0,0,deep,...,3.687500,24.927538,1.308594,down the line,In,False,05:45:38,27.480000,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan
1,Rudy Quan,2,return,Forehand,Flat,51.762230,4,0,0,short,...,-3.835938,24.068163,1.152344,cross court,Net,False,05:46:14,63.290001,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan
2,Rudy Quan,2,return,Backhand,Flat,55.740295,5,0,0,deep,...,4.382812,27.490038,1.269531,down the line,In,False,05:46:39,88.089996,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan
3,Rudy Quan,2,return,Forehand,Flat,49.152905,7,0,0,deep,...,-4.082031,24.333788,1.166016,down the line,In,False,05:47:29,138.160004,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan
4,Rudy Quan,2,return,Forehand,Flat,46.418045,8,0,0,short,...,2.437500,25.708788,0.981445,inside out,In,False,05:47:57,166.029999,RudyQuan_Cal_1_25_25.xlsx,Rudy Quan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,Rudy Quan,2,first_return,Backhand,Topspin,26.853889,92,16,2,short,...,-4.210938,1.943503,1.677734,down the line,Net,False,00:40:18,4721.120117,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan
981,Rudy Quan,2,first_return,Backhand,Topspin,61.088982,100,18,2,deep,...,3.587891,24.958788,1.140625,cross court,In,False,00:47:56,5179.220215,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan
982,Rudy Quan,4,return_plus_one,Backhand,Slice,65.406425,100,18,2,deep,...,3.333984,24.302538,1.742188,down the line,In,False,00:47:58,5181.819824,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan
983,Rudy Quan,2,first_return,Forehand,Topspin,49.594215,117,18,2,deep,...,2.085938,-0.626809,1.351562,cross court,In,False,01:41:33,8396.309570,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan
984,Rudy Quan,4,return_plus_one,Forehand,Topspin,53.070671,117,18,2,deep,...,2.712891,-1.462747,1.361328,cross court,In,False,01:41:36,8399.549805,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan

In [13]:
returns_total = returns.merge(combined_data_points[['__source_file__', 'Point', 'Point Winner']], how='inner', on=['Point', '__source_file__'])
returns_total

,Player,Shot,Type,Stroke,Spin,Speed (MPH),Point,Game,Set,Bounce Depth,...,Hit (y),Hit (z),Direction,Result,Favorited,Start Time,Video Time,__source_file__,Host Team,Point Winner
0,Rudy Quan,2,first_return,Forehand,Flat,58.276226,6,2,1,deep,...,-1.531472,1.119726,down the line,In,False,21:16:21,196.869995,RudyQuan_FloridaState_9_23_24.xlsx,Rudy Quan,guest
1,Rudy Quan,4,return_plus_one,Forehand,Topspin,67.829521,6,2,1,deep,...,0.580277,1.060871,down the line,Out,False,21:16:24,199.500000,RudyQuan_FloridaState_9_23_24.xlsx,Rudy Quan,guest
2,Rudy Quan,2,first_return,Backhand,Topspin,53.009319,7,2,1,deep,...,-1.698448,0.715455,down the line,In,False,21:16:41,216.830002,RudyQuan_FloridaState_9_23_24.xlsx,Rudy Quan,host
3,Rudy Quan,4,return_plus_one,Forehand,Topspin,55.163200,7,2,1,deep,...,-1.419443,0.795678,cross court,In,False,21:16:44,219.509995,RudyQuan_FloridaState_9_23_24.xlsx,Rudy Quan,host
4,Rudy Quan,2,first_return,Backhand,Flat,48.894547,8,2,1,deep,...,-0.732939,0.884555,inside out,In,False,21:17:20,255.490005,RudyQuan_FloridaState_9_23_24.xlsx,Rudy Quan,host
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,Rudy Quan,2,first_return,Backhand,Topspin,26.853889,92,16,2,short,...,1.943503,1.677734,down the line,Net,False,00:40:18,4721.120117,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,guest
606,Rudy Quan,2,first_return,Backhand,Topspin,61.088982,100,18,2,deep,...,24.958788,1.140625,cross court,In,False,00:47:56,5179.220215,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,host
607,Rudy Quan,4,return_plus_one,Backhand,Slice,65.406425,100,18,2,deep,...,24.302538,1.742188,down the line,In,False,00:47:58,5181.819824,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,host
608,Rudy Quan,2,first_return,Forehand,Topspin,49.594215,117,18,2,deep,...,-0.626809,1.351562,cross court,In,False,01:41:33,8396.309570,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,guest
609,Rudy Quan,4,return_plus_one,Forehand,Topspin,53.070671,117,18,2,deep,...,-1.462747,1.361328,cross court,In,False,01:41:36,8399.549805,RudyQuan_Washington_3_30_35.xlsx,Rudy Quan,guest

In [14]:
# function to create a new column for if point winner is UCLA player

def is_return_winner(x):
    if x['Host Team'] == player_name and x['Point Winner'] == "host":
        return 1
    elif x['Host Team'] != player_name and x['Point Winner'] == "guest":
        return 1
    else:
        return 0

In [25]:
returns_total['Return Winner'] = returns_total.apply(lambda x: is_return_winner(x), axis=1)

total_returns_won = sum(returns_total['Return Winner'])
total_opportunities = len(returns_total)    # total number of rows in return_totals df

percentage = (total_returns_won / total_opportunities) * 100

total_returns_won, total_opportunities, percentage

(317, 610, 51.967213114754095)